@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-gray-100;
  }
  .recipeform_input {
    @apply flex flex-col items-start lg:flex-row lg:items-center justify-between gap-5 my-3;
  }

  .recipeform_input label {
    @apply block tracking-wide text-gray-700 text-lg font-bold;
  }

  .recipeform_input input,
  textarea {
    @apply appearance-none block w-full lg:w-[70%] bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500;
  }

  .recipeform_input textarea {
    @apply h-[25vh];
  }
}
.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid lightblue;
  border-color: lightblue transparent lightblue transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
